.Button {
  border: none;
  border-radius: 99rem;
  padding: 0.35rem 1.25rem;
  outline: none;
  background-color: white;
  color: $primary;
  border: 2px solid $primary;
  transition: 0.15s;
  font-family: 'Nunito', sans-serif;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 8px 2px rgba(0,0,0,.2);
    transition: 0.15s;
  }
}

.active {
  background-color: $primary;
  color: white;
  transition: 0.15s;
}
