@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Nunito:700');
@import './styles/colors';
@import './styles/_spinner';
@import './styles/nav';
@import './styles/button';
@import './styles/write';
@import './styles/subconscious';

body {
  font-size: 18px;
  color: $primary;
  font-family: 'Nunito', sans-serif;
  padding: 2rem;
  max-width: 60rem;
  margin: auto;
}

.logo {
  width: 5rem;
  position: relative;
  margin-left: -1rem;
}

.displayFlexHorizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.displayFlexCenter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
